.newsItem {
  display: flex;
  gap: 8px;
  margin: 12px;
  font-size: 1.3rem;
}

.newsDate {
  color: #000;
}

.newsText {
  color: #000;
  text-decoration: none;
  display: inline-block; 
  padding: 2px 0;      
}

.newsText:hover {
  opacity: 0.7;
}

