.header {
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(90deg, #0b69eb 60%, #ffffff 100%);
  height: 250px;
}
.title {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  margin-left: 10px;
  margin-top: 50px;
  font-family: "Yu Mincho";
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.intro {
  font-size: 1.2rem;
  font-family: "Yu Mincho";
  color: rgb(255, 255, 255);
  margin-left: 20px;
  margin-top: 20px;
}
.switchButtons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.switchButton {
  width: 150px;
  padding: 10px 5px;
  text-align: center;
  color: #ffffff;
  border-radius: 15px;
  font-size: 1.1rem;
  transition: 0.25s ease;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border: 2px solid #2a6cca;
}

.active {
  background-color: #2a6cca;
}

.inactive {
  background-color: #ffffff;
  color: #000000;
}

.registerPageTitle {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin-left: 20px;
  margin-top: 20px;
}

.registerForm {
  padding: 30px;
}

.idFormGroup {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}

.formStatus {
  margin: 0 0 16px;
  margin-top: 20px;
}

.submitButton {
  padding: 10px 24px;
  background-color: #2a6cca;
  color: #ffffff;
  border-radius: 15px;
  font-size: 1.1rem;
  transition: 0.25s ease;
  cursor: pointer;
}

.formSelect,
.formInput {
  border: solid 0.5px #ccc;
  margin: 0 5px;
  @media (prefers-color-scheme: dark) {
    border: solid 0.5px #666;
  }
}

.registerPageNote {
  margin: 30px;
}

.noteTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
